<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/new_journal.css">
<title>New Journal Entry</title>
</head>
<body>

<h1>new journal.</h1>

<form action="/submit-journal" method="POST">
  <label for="title" class="inputlabel">Title:</label><br>
  <input type="text" id="title" name="title" required><br><br>
  
  <label for="date" class="inputlabel">Date:</label><br>
  <input type="date" id="date" name="date" value="<%= currentDate %>" required><br><br>
  
  <label for="time" class="inputlabel">Time:</label><br>
  <input type="time" id="time" name="time" value="<%= currentTime %>" required><br><br>
  
  <label for="entry" class="inputlabel">Entry:</label><br>
  <textarea id="entry" name="entry" rows="10" cols="30" required class="journaltext"></textarea><br><br>
  
  <button type="submit">Submit</button>
</form>

<script>
  // Get current date in YYYY-MM-DD format
  const currentDate = new Date().toISOString().split('T')[0];
  
  // Get current time in HH:MM format
  const currentTime = new Date().toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit' });
  
  // Set default values to date and time fields
  document.getElementById('date').value = currentDate;
  document.getElementById('time').value = currentTime;
</script>

</body>
</html>
