/* Homepage specific styles */

/* Header styles */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 80px;
}

/* Welcome message */
h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Container for each habit */
ul {
    list-style-type: none;
    padding: 0;
}

.habit-list-container {
    max-height: calc(90% - 200px); /* Set a maximum height for the habit list container */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
    border: 2px solid white; /* Add a white border */
    border-radius: 15px; /* Add rounded corners */
    background-color: black; /* Set the background color to black */
}

.habit-container {
    background-color: black; /* Changed background color to black */
    padding: 10px; /* Adjusted padding */
    width: 90%; /* Adjusted width */
    max-width: 500px; /* Added max-width */
    margin: 0 auto; /* Center horizontally */
}

.habit-item {
    padding: 20px;
    margin-bottom: -8px;
}

/* Title of each habit */
h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left; /* Align title to the left */
}

/* Description of each habit */
p {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: left; /* Align description to the left */
}

/* Days and times list */
ul ul {
    margin-top: 5px;
    padding-left: 0;
}

/* Day and time item */
ul ul li {
    font-size: 0.9rem;
    margin-bottom: 3px;
    list-style-type: none;
}

/* Adjust button styles for homepage */
form {
    display: inline-block; /* Display the form inline */
    margin-left: 10px; /* Add space between buttons */
}

button {
    background-color: black; /* Changed background color */
    color: white; /* Changed text color */
    border: 1px solid white; /* Added border */
    border-radius: 5px;
    padding: 8px 16px; /* Adjusted padding */
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; /* Added font family */
    font-size: 16px;
}

/* Change button styles on hover */
button:hover {
    background-color: #333; /* Darker background color on hover */
}

/* Centering and responsiveness */
body {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

/* Centering all content vertically and slightly up */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    margin-top: -100px; /* Move all content slightly up */
}

.no-habits-message {
    text-align: center; /* Center text horizontally */
    font-size: 20px; 
    padding: 10px;
    background-color: rgb(0, 0, 0); /* Set background color to white */
    width: 400px; /* Set width to 80% of its parent container */
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 60px;
    margin-bottom: 80px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    button {
        padding: 8px 12px; /* Adjusted padding */
    }
}

.add-button {
    margin-top: 30px;
    margin-bottom: -30px;
}