/* Set the font family */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Center the title */
h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* Container for the entire form */
.form-container {
    width: 50%;
    margin: 0 auto;
}

/* Title and description inputs */
label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.day-text {
    color: rgb(255, 255, 255); 
    margin-left: 20px;
    margin-top: 5px;
}


input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Container for days and time inputs */
.day-time-container {
    display: flex;
    flex-direction: column;
}

/* Group for each day */
.day-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Checkbox container */
.checkbox-container {
    margin-right: 10px;
}

/* Style for time inputs */
input[type="time"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: black;
    color: white;
}

/* Submit button */
button {
    background-color: #000000; /* Very dark gray/near black background */
    color: #fff; /* White text */
    border: 1px solid #fff; /* White border */
    border-radius: 5px; /* More rounded corners */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: 'Montserrat', sans-serif; /* Added font family */
    font-size: 16px;
    margin: 10px;
}

/* Change button styles on hover */
button:hover {
    background-color: gray;
}
