/* Set the font family */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Center the title */
h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* Container for the entire form */
.form-container {
    width: 50%;
    margin: 0 auto;
}

/* Title and description inputs */
label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
}

.day-text {
    color: rgb(255, 255, 255); 
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 80px;
    font-size: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* Container for days and time inputs */
.day-time-container {
    position: relative; /* Set the position of the container to relative */
    margin-top: 40px;
}

/* Group for each day */
.day-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px; /* Add bottom margin to separate groups */
    margin-left: 260px;
}

/* Style for time inputs */
input[type="time"] {
    position: absolute; /* Set the position of the time input to absolute */
    right: 0; /* Align the time input to the right within its parent container */
    background-color: #000000; /* Very dark gray/near black background */
    color: #fff; /* White text */
    border: 1px solid #fff; /* White border */
    border-radius: 5px; /* More rounded corners */
    padding-left: 20px;
    font-size: 20px;
    margin-right: 260px;
}

/* Submit button */
button {
    background-color: #000000; /* Very dark gray/near black background */
    color: #fff; /* White text */
    border: 1px solid #fff; /* White border */
    border-radius: 5px; /* More rounded corners */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: 'Montserrat', sans-serif; /* Added font family */
    font-size: 16px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

/* Change button styles on hover */
button:hover {
    background-color: gray;
}
