/* White Font, Black Background */
body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif; /* Added font family */
}

/* HEADING */
h1 {
    text-align: center;
    color: white;
    margin-top: 10px; /* Ensure 10px margin from top */
    margin-bottom: 0; /* Remove default margin */
    padding-top: 10vh; /* Set padding based on viewport height */
    padding-bottom: 5vh; /* Add some padding to the bottom */
}

/* TITLE - Media query for smaller screens for  */
@media screen and (max-width: 768px) {
    h1 {
        padding-top: 2vh; /* Adjust padding for smaller screens */
    }
}

/* LABELS OF TEXTBOXES */
.textboxname {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* LABEL POSITIONING 1 */
label[for="title"] {
    /* Center the text */
    position: absolute;
    left: 50%;
    right: 50px;
    transform: translateY(-30px);
    margin-left: -175px;
}

/* LABEL POSITIONING 2 */
label[for="description"] {
    /* Center the text */
    position: absolute;
    left: 50%;
    right: 50px;
    transform: translateY(-30px);
    margin-left: -175px;
    margin-top: 0px;
}


/* THE GRID */

.habit-schedule-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Three columns */
    grid-template-rows: repeat(7, auto);
    gap: 15px; /* Gap between rows and columns */
    max-width: 300px; /* Example maximum width */
    margin: 0 auto; /* Center the grid horizontally */
    row-gap: 20px;
}

.day-group {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
}

/* Day label styling */
.day-text {
    margin-right: auto; /* Pushes day labels to the left */
}




/* TEXT BOXES */
input[type="text"] {
    margin: 0 auto; /* Horizontally center the textboxes */
    display: block; /* Ensure the input elements behave like block-level elements */
    width: 350px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    border: 1px solid white; /* Add a white border */
    border-radius: 5px; /* Add rounded corners */
    height: 30px;
    margin-bottom: 20px;
}

/* DAYS FONT AND COLOR */
.day-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; /* Added font family */
    color: white;
}





/* BUTTON */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 50px auto 10px; /* Add margin to the top */
}
